@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 200 17% 95%;
    --foreground: 210 22% 15%;
    --card: 0 0% 100%;
    --card-foreground: 210 22% 15%;
    --popover: 0 0% 100%;
    --popover-foreground: 210 22% 15%;
    --primary: 24 95% 53%;
    --primary-foreground: 210 40% 98%;
    --secondary: 24 95% 53%;
    --secondary-foreground: 210 40% 98%;
    --muted: 210 15% 90%;
    --muted-foreground: 210 15% 55%;
    --accent: 24 95% 53%;
    --accent-foreground: 210 22% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 10% 88%;
    --input: 210 10% 88%;
    --ring: 24 95% 53%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --font-inter: "Inter", sans-serif;
  }

  .dark {
    --background: 210 22% 12%;
    --foreground: 0 0% 98%;
    --card: 210 22% 15%;
    --card-foreground: 0 0% 98%;
    --popover: 210 22% 12%;
    --popover-foreground: 0 0% 98%;
    --primary: 24 95% 53%;
    --primary-foreground: 210 22% 15%;
    --secondary: 24 95% 53%;
    --secondary-foreground: 210 22% 15%;
    --muted: 210 22% 20%;
    --muted-foreground: 210 10% 60%;
    --accent: 24 95% 53%;
    --accent-foreground: 210 22% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 22% 25%;
    --input: 210 22% 25%;
    --ring: 24 95% 53%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-body;
  }
  /* Hide spinner buttons on number inputs */
  input[type='number']::-webkit-outer-spin-button,
  input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  input[type='number'] {
    -moz-appearance: textfield;
  }
}
